# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Scala</li>
    <li>Javascript</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Pandas</li>
    <li>TensorFlow</li>
    <li>NumPy</li>
    <li>Scikit-learn</li>
</ol>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>RStudio</td>
    </tr>
    <tr>
        <td>Visual Studio Code</td>
    </tr>
    <tr>
        <td>JupyterLab</td>
    </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<b>Objectives:</b>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List commonly used libraries for Data Science</li>
    <li>Experiment with how tables work in Jupyter</li>
    <li>Do arithmetic calculations</li>
</ul>

## Author
Dhruva Turaga